div{
    border: black solid 1px;
    width: 500px;
    height: 300px;
    margin:20px;
    display: inline-block;

}
#alemania{
    width: 170px;
    height: 100px;
    background:linear-gradient(to top, yellow 0, yellow 33%, rgb(255, 0, 0) 33%, rgb(255, 0, 0) 66%, #000 66%, #000 100%);
}
#francia{
    width: 170px;
    height: 100px;
    background:linear-gradient(to right, rgb(0, 0, 255) 0, rgb(0, 0, 255) 33%, rgb(255, 255, 255) 33%, rgb(255, 255, 255) 66%, rgb(255, 0, 0) 66%, rgb(255, 0, 0) 100%);
}
#italia{
    width: 170px;
    height: 100px;
    background:linear-gradient(to right, rgb(6, 179, 0) 0, rgb(6, 179, 0) 33%, rgb(255, 255, 255) 33%, rgb(255, 255, 255) 66%, rgb(255, 0, 0) 66%, rgb(255, 0, 0) 100%);
}
#japon{
    width: 170px;
    height: 100px;
    background:radial-gradient(circle, red 25%, white 1%);
}
#chile{
#arriba{
    height: 50%;
    background: linear-gradient(to right, blue 0, blue 30%, white 30%, white, 100%);
}
}