* {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  
  #calculator {
    background-color: #857599;
    width: 208px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border-radius: 10%;
    border: 5px solid  #190b2b;
  }
  
  #display {
    color: #52495F;
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bolder;;
  }
  
  .row {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  button {
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color:  #B49FBA;
    color: #52495F;
    border: none;
    cursor: pointer;
    font-weight: 500;
  }

  button:active {
    background-color: #65566B;  
    color: #B48DB9;
  }
  
  .operator {
    background-color: #52495F;  
    color: #B48DB9;    
    font-weight: 550;
  }
  
  .operator:active {
    background-color:  #6A5D72;
  }
  
  #equals {
    width: 100%;
    border-radius: 1.5rem;
    background-color: #52495F;  
    color: #B48DB9;
    font-weight: 550;
  }
  
  #equals:active {
    background-color:  #6A5D72;
  }