/* General */
* {
    padding: 0px; margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* fondo pagina */
body{
    background-color: #B9DDE4;
}

/* barra superior */
.nav * {
    padding: 0;
    color: azure;
    align-items: center;
    list-style: none; 
}
.nav  {
    justify-content: space-around;
    background-color: #025F70;
    height: 80px;
    align-items: center;
}
.nav, .nav-links {
    display: flex;
    flex-direction: row;
}    
.nav a{
    text-decoration: solid;
    font-weight:lighter;
    color:  rgb(167,167,167);
    margin: 10px;
}
.nav  .active {  
    font-weight: bold;
    color: azure;
}
.btn{
    align-self: center;
    background-color: #74A7B0;
	height: 30px;
	width: 100px;
    border: 2px solid #314453;
    box-shadow: 2px 2px #314453;
    font-size: small;
    font-weight: bold;
}
/* contenedor grande */
.contenedor-grande{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/* contenedor perfil */
.contenedor-perfil{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 5%;
}
/* info perfil */
.info-perfil{
    width: 100%;
    background-color:  azure;
    border: 2px solid rgb(167,167,167);
    border-radius: 5px;
    background-color:  azure;
    box-shadow: 0px 0px 2px 2px rgb(167,167,167);
    position: relative;
    margin-bottom: 10px;
}

.encabezado {
    background-color:#7FC2CE;
    height: 100px;
    width: 100%;
    align-self: center;
    border-radius: 5px;
}
#photo_user {
    border-radius: 50%;
    border: 5px solid azure;
    box-shadow: 0px 0px 5px 0px black;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
.icons {
    height: 15px;
}
.card-body {
    padding: 20px;
}
.card-body p {
    text-align: start;
    font-size: smaller;
}

/* info educación */
.info-educacion{
    width: 100%;
    border: 2px solid rgb(167,167,167);
    border-radius: 5px;
    padding: 0px;
    background-color:  azure;
    box-shadow: 0px 0px 2px 2px rgb(167,167,167);
    position: relative;
    margin-bottom: 10px;
}
.encabezado_edu{
    background-color:  rgb(23,162,184);
    width: 100%;
    align-self: center;
    width: 100%;
    border-radius: 2px;
    display: flex;
    color: #A9DDE5;
}
.encabezado_edu h1{
    font-size: medium;
    margin: 5%;
}

.card-edu{
    background-color: azure;
    border-radius: 2px;
}

/* Letras */
.card-edu h2, h3, h4{     margin: 10px; }
.card-edu h2{ font-size: larger; }
.card-edu h3{ font-size: medium; }
.card-edu h4{ font-size: smaller; color: rgb(167,167,167);}

/* contenedor contactos */

.contenedor-contactos{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 5%;
}
/* solicitudes */

.solicitudes, .contactos{
    border: 2px solid rgb(167,167,167);
    border-radius: 5px;
    padding: 0px;
    background-color:  azure;
    box-shadow: 0px 0px 2px 2px rgb(167,167,167);
    position: relative;
    margin-bottom: 10px;
}

.encabezado_contactos{
    background-color:  rgb(23,162,184);
    width: 100%;
    align-self: center;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.solicitudes .icons {
    height: 25px;
}
.photo-contact{
    border-radius: 50%;
    border: 2px solid azure;
    box-shadow: 0px 0px 5px 0px black;
    height: 30px;
    position: relative;
}

#contacts-names{
    display: flex;
    justify-content: space-evenly;
}
.card-user #contacts-names  {
    display: flex;
    justify-content: space-around;
}

.contactos,.button-more{
    border: 2px solid rgb(167,167,167);
    padding: 0px;
    background-color:  azure;
    box-shadow: 0px 0px 2px 2px rgb(167,167,167);
    position: relative;
}

.button-more{
    display: flex;
    height: 30px;
    align-content: center;
    justify-content: center;

}

.encabezado_contactos #solicitud-contactos{
    color: #A9DDE5;
    font-size: large;
    align-self: center;
}

.encabezado_contactos #n-solicitudes, .encabezado_contactos #n-amigos  {
    border-radius: 50%;
    width: 30px;
    height: 25px;
    padding: 10px;
    margin: 20px;
    background: #A9DDE5;
    align-self: center;
    text-align: center;
    font-size: large;
    color:#5E6D79;
}

.Login{
    display: flex;
    flex-direction: column;
    position: relative;
    border:  2px solid azure;
    box-shadow: 0px 0px 5px 0px black;
    align-self: center;
    margin: 10% 30%;
    background-color: azure;
}
.Login .btn{
    margin: 2% 40%;
}